doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description' content='Pagina de inicio Bicicletas')
    meta(name='author' content='Ernesto Maggio')
    
    // Bootstrap core CSS
    link(href='/vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet')

    // Custom styles for this template
    link(href='/stylesheets/small-business.css' rel='stylesheet')

    // App favicon
    link(rel="shortcut icon" href="images/bici.ico")

    link(rel='stylesheet', href='/stylesheets/style.css')

    link(rel='stylesheet' href='https://unpkg.com/leaflet@1.7.1/dist/leaflet.css' integrity='sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==' crossorigin='')
    script(src='https://unpkg.com/leaflet@1.7.1/dist/leaflet.js' integrity='sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==' crossorigin='')
    // Load React.
    // Note: when deploying, replace "development.js" with "production.min.js".
    script(src='https://unpkg.com/react@16/umd/react.development.js' crossorigin='')
    script(src='https://unpkg.com/react-dom@16/umd/react-dom.development.js' crossorigin='')



  body
    block content
